// ==========================================================================
// Global Styles
// ==========================================================================

// Make viewport responsive
@-ms-viewport { width: device-width; } // sass-lint:disable-line no-vendor-prefixes

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	// Use a "normal", non-overlapping, non-auto-hiding scrollbar; Edge 12+, Internet Explorer 11-
	-ms-overflow-style: scrollbar; // sass-lint:disable-line no-vendor-prefixes
}

// Opinionated defaults
body {
	background: $body-background;
	color: $body-color;

	font-family: $font-family-base;
	font-size: 1rem; // Follow the root
	font-weight: $font-weight-base;
	line-height: $line-height-base;

	text-align: left;
}

// Remove the touch delay
a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
	touch-action: manipulation;
}
