// ==========================================================================
// Global Styles
// ==========================================================================

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	// Use percentage by default to inherit the value from the user's browser settings
	font-size: ( strip-unit( $font-size-base ) / 16 ) * 100%;

	// Use a "normal", non-overlapping, non-auto-hiding scrollbar; Edge 12+, Internet Explorer 11-
	-ms-overflow-style: scrollbar; // sass-lint:disable-line no-vendor-prefixes
}

// Opinionated defaults
body {
	background-color: $body-background;
	color: $body-color;

	font-family: $font-family-base;
	font-weight: $font-weight-base;
	@include vertical-rhythm( 1rem );

	text-align: left;

	@include break-until( small ) {
		font-size: 0.875rem;
	}
}
