// ==========================================================================
// Print Styles
// ==========================================================================

// stylelint-disable declaration-no-important
@media print {
	*,
	*::before,
	*::after {
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a {
		text-decoration: underline;
	}

	// Display the URL of a link after the text
	a[href]::after {
		content: ' (' attr( href ) ') ';
	}

	// Display what an abbreviation stands for after the text
	abbr[title]::after {
		content: ' (' attr( title ) ') ';
	}

	// Don't display the URL for images or JavaScript/internal links
	a[href^='#']::after,
	a[href^='javascript:']::after {
		content: '';
	}

	pre {
		white-space: pre-wrap !important;
	}

	// Prevent page breaks in the middle of a blockquote or preformatted text block
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
