// ==========================================================================
// WordPress Styles
// ==========================================================================

// Accessibility
.screen-reader-text {
	@include visually-hidden();

	&:active,
	&:focus {
		@include visible();
	}
}


// Alignments
.alignleft {
	float: left;
	margin-right: $spacer;
}

.alignright {
	float: right;
	margin-left: $spacer;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


// Media
.emoji,
.wp-smiley {
	border: 0;
	margin: 0 0.125em;
	padding: 0;
}

.wp-caption {
	margin-bottom: $spacer;
	max-width: 100%;
}

.wp-caption-text {
	margin-top: ($spacer / 2);
	font-size: 0.875em;
	text-align: center;
}

.gallery {
	@include flex-container();

	margin-bottom: $spacer;
}

.gallery-item {
	padding-left: $spacer;
	padding-right: $spacer;
	text-align: center;

	.gallery-columns-2 & {
		flex-basis: 50%;
	}

	.gallery-columns-3 & {
		flex-basis: 33.33%;
	}

	.gallery-columns-4 & {
		flex-basis: 25%;
	}

	.gallery-columns-5 & {
		flex-basis: 20%;
	}

	.gallery-columns-6 & {
		flex-basis: 16.66%;
	}

	.gallery-columns-7 & {
		flex-basis: 14.28%;
	}

	.gallery-columns-8 & {
		flex-basis: 12.5%;
	}

	.gallery-columns-9 & {
		flex-basis: 11.11%;
	}
}
