// ==========================================================================
// Global Styles
// ==========================================================================

// Make viewport responsive
@-ms-viewport { width: device-width; } // sass-lint:disable-line no-vendor-prefixes

html {
	// Set box-sizing globally
	box-sizing: border-box;

	// Use percentage by default to inherit the value from the user's browser settings
	font-size: ( $rem-base / 16px ) * 100%;

	// Use a "normal", non-overlapping, non-auto-hiding scrollbar; Edge 12+, Internet Explorer 11-
	-ms-overflow-style: -ms-autohiding-scrollbar; // sass-lint:disable-line no-vendor-prefixes

	// Completely transparent default tap highlight; iOS.
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 ); // sass-lint:disable-line no-vendor-prefixes
}

// Inherit box-sizing
*,
*::before,
*::after {
	box-sizing: inherit;
}

// Opinionated defaults
body {
	background: $global-background;
	color: $global-color;

	font-family: $global-font-family;
	font-size: 1rem; // Follow the root
	font-weight: $global-font-weight;
	line-height: $global-line-height;
}

img {
	// Automatically scale height and adhere to container width
	height: auto;
	max-width: 100%;

	// Get rid of gap under images
	display: inline-block;
	vertical-align: middle;
}

ul,
ol {
	margin: 0 0 $global-spacing $global-spacing * 2;
	padding: 0;

	& & {
		margin-bottom: 0;
		margin-left: $global-spacing;
	}
}

table {
	margin: 0 0 $global-spacing;
	width: 100%;
}
