// ==========================================================================
// Typography
// ==========================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	line-height: $heading-line-height;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

@each $heading, $font-size in $heading-sizes {
	#{$heading} {
		font-size: $font-size;
	}
}

p {
	line-height: $global-line-height;
	margin-top: 0;
	margin-bottom: 0.75em;
}

a {
	color: $brand-color;
	text-decoration: none;

	&:hover {
		color: shade($brand-color, 20);
		text-decoration: underline;
	}
}

blockquote, q {
	quotes: "\201C""\201D""\2018""\2019";
	position: relative;
}

blockquote {
	background: $white;
	border: solid $brand-color;
	border-width: 0 1px 0 5px;
	border-radius: $global-radius;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.125);
	margin: $global-spacing 0;
	padding: 1em 1em 1em 3em;
	text-align: justify;

	&:before{
		content: "\201C";
		position: absolute;
		margin-top: -0.25em;
		left: 0.125em;
		color: $gray;
		font-family: Georgia, serif;
		font-size: 4em;
		font-weight: bold;
	}
}

q {
	padding: 0 0.75em;

	&:before, &:after {
		font-family: Georgia, serif;
		font-size: 1.5em;
		position: absolute;
		margin-top: -0.125em;
	}

	&:before {
		left: 0;
	}
}

cite {
	font-size: 0.8em;

	&:before {
		content: "\2014";
		margin-right: 0.5em;
	}
}
