// ==================================================
// TABLE OF CONTENTS
// --------------------------------------------------
//  * Breakpoints
//  * Styles
//      - Base
//      - Typography
//      - Headings
//  * Colors
//      - Grayscale
//      - General
//  * Lists
//      - Buttons
//      - Inputs
// ==================================================



//
// Breakpoints
//
// **************************************************

$breakpoints: (
	xxsmall: 0,
	xsmall:  em( 420px ),
	small:   em( 560px ),
	medium:  em( 768px ),
	large:   em( 1024px ),
	xlarge:  em( 1200px ),
	xxlarge: em( 1440px )
);



//
// Styles
//
// **************************************************


//
// Base
//

$body-background: mui-color( grey, 100 );
$body-color:      mui-color( grey, 800 );
$spacer:          rem( $font-size-base * $line-height-base );
$border-radius:   0.25em;

$link-color:       mui-color( red, 700 );
$link-hover-color: shade( $link-color, 15 );


//
// Typography
//

$font-family-base: 'Open Sans', sans-serif;
$font-size-base:   16px;
$font-weight-base: 400;
$line-height-base: 1.5;


//
// Headings
//

$headings-font-family: 'Open Sans', sans-serif;
$headings-font-weight: 600;
$headings-color:       inherit;

$h1-font-size: em( $font-size-base * 2.875 );
$h2-font-size: em( $font-size-base * 2.25 );
$h3-font-size: em( $font-size-base * 1.75 );
$h4-font-size: em( $font-size-base * 1.375 );
$h5-font-size: em( $font-size-base * 1.125 );
$h6-font-size: em( $font-size-base );



//
// Colors
//
// **************************************************


//
// Grayscale
//

$black:        #000;
$gray-darker:  #333;
$gray:         #666;
$gray-lighter: #999;
$white:        #fff;


//
// General
//

$red:    #ff4136;
$green:  #2ecc40;
$blue:   #0074d9;
$yellow: #ffdc00;
$orange: #ff851b;
$pink:   #f012be;
$purple: #b10dc9;
$navy:   #001f3f;
$aqua:   #7fdbff;
$olive:  #3d9970;
$lime:   #01ff70;
$maroon: #85144b;



//
// Lists
//
// **************************************************


//
// Buttons
//

$button-list:
'button',
'input[type="button"]',
'input[type="reset"]',
'input[type="submit"]';


//
// Inputs
//

$input-list:
'input[type="color"]',
'input[type="date"]',
'input[type="datetime"]',
'input[type="datetime-local"]',
'input[type="email"]',
'input[type="month"]',
'input[type="number"]',
'input[type="password"]',
'input[type="search"]',
'input[type="tel"]',
'input[type="text"]',
'input[type="time"]',
'input[type="url"]',
'input[type="week"]',
'input:not([type])',
'textarea';
