// ==================================================
// TABLE OF CONTENTS
// --------------------------------------------------
//  * Unit base
//  * Breakpoints
//  * Styles
//      - Base
//      - Typography
//      - Headings
//  * Lists
//      - Buttons
//      - Inputs
// ==================================================



//
// Unit base
//
// **************************************************

$em-base:  16px;
$rem-base: 16px;



//
// Breakpoints
//
// **************************************************

$small:  em( 480px );
$medium: em( 768px );
$large:  em( 980px );
$xlarge: em( 1200px );



//
// Styles
//
// **************************************************


//
// Base
//

$global-background: #f3f3f3;
$global-color:      #848484;
$global-spacing:    rem( 20px );
$global-radius:     3px;

$brand-color:       #f89406;


//
// Typography
//

$global-font-family: 'Open Sans', sans-serif;
// Use 100% by default to inherit the value from the user's browser settings
$global-font-size:   100;
$global-font-weight: 400;
$global-line-height: 1.5;


//
// Headings
//

$heading-font-family: 'Open Sans', sans-serif;
$heading-font-weight: 600;
$heading-line-height: 1.3;
$heading-color:       #272727;
$heading-sizes: (
	'h1': em( 46px ),
	'h2': em( 36px ),
	'h3': em( 28px ),
	'h4': em( 22px ),
	'h5': em( 18px ),
	'h6': em( 16px )
);



//
// Lists
//
// **************************************************


//
// Buttons
//

$button-list:
'button',
'input[type="button"]',
'input[type="reset"]',
'input[type="submit"]';


//
// Inputs
//

$input-list:
'input[type="color"]',
'input[type="date"]',
'input[type="datetime"]',
'input[type="datetime-local"]',
'input[type="email"]',
'input[type="month"]',
'input[type="number"]',
'input[type="password"]',
'input[type="search"]',
'input[type="tel"]',
'input[type="text"]',
'input[type="time"]',
'input[type="url"]',
'input[type="week"]',
'input:not([type])',
'textarea';
