//
// Breakpoints
//
// **************************************************

$breakpoints: (
	xxsmall: 0,
	xsmall:  420px,
	small:   560px,
	medium:  768px,
	large:   1024px,
	xlarge:  1200px,
	xxlarge: 1440px
) !default;


//
// From
//

@mixin break-from( $query ) {
	$value: break-from( $query );
	@media screen and ( min-width: $value ) { @content; }
}


//
// Until
//

@mixin break-until( $query ) {
	$value: break-until( $query );
	@media screen and ( max-width: $value ) { @content; }
}


//
// Only
//

@mixin break-only( $query ) {
	$value: break-only( $query );
	@media screen and ( min-width: nth( $value, 1 ) ) and ( max-width: nth( $value, 2 ) ) { @content; }
}
