//
// Breakpoints
//
// **************************************************

$breakpoints: (
	small: 480px,
	medium: 768px,
	large: 980px,
	xlarge: 1200px
) !default;


//
// From
//

@mixin break-from( $query ) {
	$value: break-from( $query );
	@media screen and ( min-width: $value ) { @content; }
}


//
// Until
//

@mixin break-until( $query ) {
	$value: break-until( $query );
	@media screen and ( max-width: $value ) { @content; }
}


//
// Only
//

@mixin break-only( $query ) {
	$value: break-only( $query );
	@media screen and ( min-width: nth( $value, 1 ) ) and ( max-width: nth( $value, 2 ) ) { @content; }
}
