// ==================================================
// TABLE OF CONTENTS
// --------------------------------------------------
//  * Clearfix
//  * Container
//  * Visibility
//      - Element Invisible
//      - Element Visible
//      - Text Hidden
//      - Text Invisible
//  * Centering
//      - Absolute
//      - Horizontal
//      - Vertical
//  * Type
//      - FontAwesome
//      - Truncate
//      - Vertical Rhythm
//  * Selector
//      - Placeholder
//      - Selection
//  * Triangle
// ==================================================

@use "sass:string";


//
// Clearfix
//
// **************************************************

@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}



//
// Container
//
// **************************************************

@mixin container( $width: 100%, $spacer: spacer( 0.5 ) ) {
	width: $width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $spacer;
	padding-right: $spacer;
}



//
// Visibility
//
// **************************************************


//
// Visually hidden but still accessible to keyboards and assistive devices
//

@mixin visually-hidden {
	clip: rect( 0, 0, 0, 0 );
	clip-path: inset( 50% );
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}


//
// Reverses 'invisible' to allow the element to be focusable when navigated
//

@mixin visible {
	clip: auto;
	clip-path: none;
	height: auto;
	overflow: visible;
	position: static;
	width: auto;
	white-space: normal;
}


//
// Hide text only, not the whole element
//

@mixin text-hidden {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

@mixin text-invisible {
	// stylelint-disable-next-line font-family-no-missing-generic-family-keyword
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}



//
// Centering
//
// **************************************************

@mixin center( $position: null ) {
	position: absolute;

	@if ( $position == null ) {
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
	} @else if ( string.to-upper-case( $position ) == 'X' ) {
		left: 50%;
		transform: translateX( -50% );
	} @else if ( string.to-upper-case( $position ) == 'Y' ) {
		top: 50%;
		transform: translateY( -50% );
	}
}



//
// Type
//
// **************************************************


//
// FontAwesome
//

@mixin fa( $icon: null ) {
	@if ( $icon != null ) {
		content: unicode( $icon );
	}

	// stylelint-disable-next-line font-family-no-missing-generic-family-keyword
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	text-rendering: auto;
}

@mixin fa5( $type: 'Solid', $icon: null ) {
	@if ( $icon != null ) {
		content: unicode( $icon );
	}

	// stylelint-disable-next-line font-family-no-missing-generic-family-keyword
	font-family: 'Font Awesome 5 ' + $type;
	display: none;
}


//
// Truncate
//

@mixin truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


//
// Vertical Rhythm
//

@mixin vertical-rhythm( $size ) {
	font-size: $size;
	line-height: base-line( $size );
}



//
// Selector
//
// **************************************************

@mixin selector( $element ) {
	$selections: ();

	@if ( string.to-lower-case( $element ) == 'placeholder' ) {
		$selections: ':-webkit-input-placeholder' ':-moz-placeholder' '-moz-placeholder' '-ms-input-placeholder';
	} @else if ( string.to-lower-case( $element ) == 'selection' ) {
		$selections: ':selection' ':-moz-selection';
	}

	@each $selection in $selections {
		// stylelint-disable-next-line selector-pseudo-class-no-unknown
		&:#{ $selection } {
			@content;
		}
	}
}



//
// Triangle
//
// **************************************************

@mixin triangle( $size, $color, $direction ) {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-width: $size;
	border-style: solid;
	border-color: transparent;

	@if ( string.to-lower-case( $direction ) == 'up' ) {
		border-bottom-color: $color;
	} @else if ( string.to-lower-case( $direction ) == 'down' ) {
		border-top-color: $color;
	} @else if ( string.to-lower-case( $direction ) == 'left' ) {
		border-right-color: $color;
	} @else if ( string.to-lower-case( $direction ) == 'right' ) {
		border-left-color: $color;
	}
}
