// ==========================================================================
// Elements Styles
// ==========================================================================

img {
	// Automatically scale height and adhere to container width
	height: auto;
	max-width: 100%;

	// Get rid of gap under images
	display: inline-block;
	vertical-align: middle;
}

ul,
ol {
	margin: 0 0 $spacer ($spacer * 2);
	padding: 0;

	& & {
		margin-bottom: 0;
		margin-left: $spacer;
	}
}

table {
	margin: 0 0 $spacer;
	width: 100%;
	border-collapse: collapse;
}

caption {
	text-align: inherit;
}

figure {
	margin: 0 0 $spacer;
}
