// ==========================================================================
// Form Styles
// ==========================================================================

form {
	margin: 0 0 $spacer;
}

fieldset {
	margin: 0;
	border: 0;
}
