// ==========================================================================
// Typography
// ==========================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $headings-color;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	margin: 0 0 $spacer;
}

h1 {
	@include vertical-rhythm( $h1-font-size );
}

h2 {
	@include vertical-rhythm( $h2-font-size );
}

h3 {
	@include vertical-rhythm( $h3-font-size );
}

h4 {
	@include vertical-rhythm( $h4-font-size );
}

h5 {
	@include vertical-rhythm( $h5-font-size );
}

h6 {
	@include vertical-rhythm( $h6-font-size );
}

p {
	margin: 0 0 $spacer;

	a {
		text-decoration: underline;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $link-hover-color;
	}
}

blockquote,
q {
	quotes: '\201C''\201D''\2018''\2019';
	position: relative;
}

blockquote {
	background-color: $white;
	border: solid $link-color;
	border-width: 0 1px 0 5px;
	border-radius: $border-radius;
	box-shadow: 0 1px 5px 0 rgba( 0, 0, 0, 0.125 );
	margin: 0 0 $spacer;
	padding: 1em 1em 1em 2.5em;
	text-align: justify;

	&::before {
		content: '\201C';
		position: absolute;
		margin-top: -0.25em;
		left: 0.15em;
		color: mui-color( grey, 700 );
		font-family: Georgia, serif;
		font-size: 3em;
		font-weight: 600;
	}
}

q {
	display: inline-block;
	padding: 0 0.625em;

	&::before,
	&::after {
		font-family: Georgia, serif;
		font-size: 1.25em;
		position: absolute;
		margin-top: -0.125em;
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}
}

cite {
	font-size: 0.875em;

	&::before {
		content: '\2014';
		margin-right: 0.5em;
	}
}
